html, body {
	margin: 0; padding: 0;
	font-family: sans-serif;
	background-color: #124;
	color: #9ac; 
}

/*

|           |  bb       |
|  VNC      |           |
|           |   ticker  |
|           | log | ad  |
|           |     | clk |

*/


.area {
	position: absolute;
	box-sizing: content-border;
	border: 0px solid black;
	overflow: hidden;
}

#vnc {
	width: 70%; height: 90%;
	left:  0;      top: 0;
	border-right: 1px solid #568;
	padding-top: 1%;
}

#status {
	padding: 1%;
	width: 68%; height: 3%;
	left:  0;      top: 92%;
	border-top: 1px solid #568;
	border-right: 1px solid #568;
}

#bulletinboard {
	padding: 1%;
	padding-left: 0;
	width: 28%; height: 42%;
	left:  70%;    top: 0;
	border-bottom: 1px solid #568;
}


#commandlog {
	padding: 1%;
	width: 17%; height: 48%;
	left:  70%; top:    47%;
	border-right: 1px solid #568;
}

#ad {
	padding: 1%;
	width: 9%; height: 26%;
	left:  89%; top:    50%;
}

#ad img {
	max-width: 100%;
	max-height: 100%;
}

#clock {
	padding: 1%;
	padding-top: 2%;
	left:  89%; top:    80%;
	width: 9%; height: 10%;
	border-top: 1px solid #568;
}

