/* CSS declarations go here */

html, body {
	margin: 0; padding: 0;
	font-family: sans-serif;
	background-color: #124;
	color: #679; 
}

/*

|           |  bb       |
|  VNC      |           |
|           |   ticker  |
|           | log | ad  |
|           |     | clk |

*/


.area {
	position: absolute;
	box-sizing: content-border;
	border: 0px solid black;
	overflow: hidden;
}

#vnc {
	width: 60%; height: 90%;
	left:  0;      top: 0;
	border-right: 1px solid #568;
	padding-top: 5%;
}

#status {
	padding: 1%;
	width: 58%; height: 5%;
	left:  0;      top: 90%;
	border-top: 1px solid #568;
	border-right: 1px solid #568;
}

#bulletinboard {
	padding: 1%;
	width: 38%; height: 40%;
	left:  60%;    top: 0;
}

#ticker {
	padding: 1%;
	width: 38%; height: 1.8%;
	left:  60%; top:    44%;
	border-top: 1px solid #568;
	border-bottom: 1px solid #568;
	white-space: nowrap;
}

#commandlog {
	padding: 1%;
	width: 17%; height: 46%;
	left:  60%; top:    50%;
	border-right: 1px solid #568;
}

#ad {
	padding: 1%;
	width: 19%; height: 36%;
	left:  79%; top:    50%;
}

#ad img {
	max-width: 100%;
	max-height: 100%;
}

#clock {
	padding: 1%;
	width: 19%; height: 5%;
	left:  79%; top:    90%;
	border-top: 1px solid #568;
}
